<form class="text-center" action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input class="form-control" type="text" id="question" name="query" placeholder="what time is it?">
  <input class="btn btn-primary" type="submit" value="Go on!">
</form>
